apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: frontend:v2
        ports:
        - containerPort: 80 # Which port does Nginx listen on inside the container?
        imagePullPolicy: IfNotPresent