apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 8080      # Port on the Service
      targetPort: 80  # Port in the Container
  type: LoadBalancer  # Opens the port to your Mac