apiVersion: v1
kind: Service
metadata:
  name: postgres-service
spec:
  selector:
    app: postgres
  ports:
    - protocol: TCP
      port: 5432       # Standard Postgres port
      targetPort: 5432
  type: ClusterIP      # Only visible inside the cluster